@font-face{font-family:UGentPanno;font-weight:400;src:url(../fonts/ugentpannotext-semilight-web.eot);src:url(../fonts/ugentpannotext-semilight-web.eot) format("embedded-opentype"),url(../fonts/ugentpannotext-semilight-web.woff) format("woff"),url(../fonts/ugentpannotext-semilight-web.ttf) format("truetype")}@font-face{font-family:UGentPanno;font-weight:500;src:url(../fonts/ugentpannotext-normal-web.eot);src:url(../fonts/ugentpannotext-normal-web.eot) format("embedded-opentype"),url(../fonts/ugentpannotext-normal-web.woff) format("woff"),url(../fonts/ugentpannotext-normal-web.ttf) format("truetype")}@font-face{font-family:UGentPanno;font-weight:600;src:url(../fonts/ugentpannotext-medium-web.eot);src:url(../fonts/ugentpannotext-medium-web.eot) format("embedded-opentype"),url(../fonts/ugentpannotext-medium-web.woff) format("woff"),url(../fonts/ugentpannotext-medium-web.ttf) format("truetype")}@font-face{font-family:UGentPanno;font-weight:700;src:url(../fonts/ugentpannotext-semibold-web.eot);src:url(../fonts/ugentpannotext-semibold-web.eot) format("embedded-opentype"),url(../fonts/ugentpannotext-semibold-web.woff) format("woff"),url(../fonts/ugentpannotext-semibold-web.ttf) format("truetype")}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.vis-network-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 2px 10px;
  white-space: nowrap;

  font-family: 'UGentPanno';
  font-size: 24px;
  color: #4B86C2;
  background: rgba(255, 255, 255, 0.9);

  border-radius: 10px;
  border: 1px solid #4B86C2;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
